/* COMMUN */

/* HEADER */

 .text_logo {
    border: 0;
    display: inline-block;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    height: inherit;
    line-height: inherit;
    /* padding: 0 1.5em; */
}

.text_logo strong {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #4831d4;
    color: #ffffff;/* #242943; */
    display: inline-block;
    line-height: 1.65em;
    margin-right: 0.325em;
    /* padding: 0. 0.125em 0 0.375em; */
    padding:  0.575em;
}

 .text_logo:hover strong {
    background-color: #474559;
}

.text_logo:active strong {
    background-color: #474559;
}

/* MAIN INDEX */

.custom-btn {
    background: #eee;
    color: #5b5b5b;
    font-weight: bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: 14px;
    line-height: normal;
    overflow: hidden;
    transition: all 0.4s ease;
  }
  .custom-btn:hover {
    color: #ccf381; /*#ffc200;*/
  }
  .custom-btn.custom-btn-bg {
    background: #474559;
    color: #ffffff;
  }
  .custom-btn.custom-btn-bg:hover {
    background: #b9ec5a;/* #ccf381 */
    color: #4831d4!important;
}
.custom-btn.custom-btn-bg-blue {
    background: #4831d4;/* #ccf381 */
    color: #ffffff;
  }
  .custom-btn.custom-btn-bg-blue:hover {
    background: #474559;
    color: #ffffff!important;
}


/* MEDIA QUERIES */
@media  screen and (min-width:992px) {
   


}